@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins';
	display: flex;
	flex-direction: column;
	background-color: #F8F5F0;
}

header {
	background-color: #1B263B;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}

.hero_header {
	font-size: 24px;
	color: #FAFAFA;
	display: flex;
	justify-content: space-between;
	padding: 16px;
}

.hero_content {
	display: flex;
	padding: 64px 0 64px 0;
}

.hero_photo img {
	width: 480px;
	height: 270px;
	border-radius: 16px;
}

ul {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	gap: 16px;
	list-style: none;
}

.hero_main_text {
	font-size: 48px;
	color: #FAFAFA;
	font-weight: 900;
}

.hero_secondary_text, a {
	font-size: 18px;
}

.hero_secondary_text {
	color: #D9E2EC;
}

a {
	color: #D9E2EC;
	text-decoration: none;
}

.information {
	margin: 128px;
}

.information_main_text, .quote_text {
	font-size: 36px;
	color: #222222;
}

.information_main_text {
	text-align: center;
	font-weight: 900;
	margin: 64px;
}

.cards {
	display: flex;
	gap: 64px;
	justify-content: center;
	text-align: center;
	margin: 64px;
}

.card {
	flex: 0 1 300px;
}

.card img {
	border-radius: 32px;
	width: 200px;
	height: 200px;
}

.quote {
	background-color: #F4D6D6;
	padding: 128px;
	/* display: flex; */
}

.quote_content {	
	display: flex;
	flex-direction: column;
}

.quote_text {
	padding: 0 64px 0 64px;
	font-weight: 300;
}

.quote_author {
	align-self: flex-end;
	font-weight: 900;
	font-size: 24px;
}

.call_to_action_content {
	background-color: #BC002D;
	border-radius: 16px;
	margin: 64px;
	padding: 32px;
}

.sign_up_button {
	background-color: #BC002D;
	border: 1px solid white;
	color: white;
	border-radius: 8px;
	padding: 8px 32px;
	font: inherit;
	font-size: 16px;
	font-weight: 900;
	margin-top: 16px;
}

.sign_up_button:hover {
	background-color: #8F0023;
	cursor: pointer;
}

footer {
	background-color: #1B263B;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FAFAFA;
	padding: 16px;
}